@using DNB.Supermarket.Business.Abstract
@model DNB.Supermarket.Entities.ViewModels.OrderViewModel
@{
    ViewData["Title"] = "PurchasedItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IProductService ProductService;

<h2>Purchased Items</h2>

<table class="table table-responsive dataTable">
    <thead>
    <tr>
        <th>Order ID</th>
        <th style="text-align: left">Products</th>
        <th>Unit Price</th>
        <th>Selling Quantity</th>
    </tr>
    </thead>
    <tbody>
    
    @foreach (var item in Model.OrderProducts)
    {
        var data = ProductService.GetById(item.ProductId);
        <tr>
            <td>@item.OrderId</td>
            <td>@data.ProductName</td>
            <td>@data.SellPrice</td>
            <td>@item.SellingQuantity</td>
        </tr>
    }
    </tbody>
</table>

